:root{
  --primaryColor: #7Ed957;
  --secondaryColor: #448848;
  --secondaryColorDark: #153117;
  --blackColor: #000;
  --whiteColor: #fff;
  --greyColor: #888888;
  --lightBackgroundColor: #eff1ed;
  --darkGreyColor: #163300;
}

*{
  font-family: "Rubik", sans-serif;
 
}
h1,span{
  font-family: "Rajdhani", sans-serif;
}
p{
  font-family: "Rubik", sans-serif;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
 width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--secondaryColor);
  border-radius: 6px;
}
::-webkit-scrollbar-track{
  background-color: var(--lightBackgroundColor);
}
::-webkit-scrollbar-thumb:hover{
background-color: var(--primaryColor);
}